{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}
<section class="gradient-custom">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-transparent text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="">

              <h2 class="fw-bold mb-2 text-warning text-uppercase">Орешник</h2>
              <p class="text-white-50 mb-5">Предъявите свое орешество на вход!</p>

              <form action="" method="post">
                {% csrf_token %}



              <div class="form-outline form-white mb-4">
                {{ form.username }}
                <label class="form-label">Ваш орех, пожалуйста!</label>
              </div>




              <div class="form-outline form-white mb-4">
                {{ form.password }}
                <label class="form-label" for="typePasswordX">ПасПорТ!</label>
              </div>
              <button class="btn btn-outline-warning btn-lg" type="submit">Орешнуться!</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}